<!-- <app-header></app-header> -->
<main>
    <app-header></app-header>
    <section class="main-section pad-70">
        <div class="headline">
            <span>AUGUSTO CONSULTORIA</span>
            <h1>A consultoria que você busca para o seu software</h1>
        </div>
        <img ngSrc="principal.png" width="642" height="511">            
    </section>

    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h2>95% das <br>
            empresas</h2>
        </div>
        <p>não sabem como lidar com problemas de <b>escalabilidade</b> e grande volume de requisições</p>
    </section>
    
    <section class="btn-primary">
        <app-btn-primary 
            btn-text="fale com nossos especialistas">
        </app-btn-primary>
    </section>
    
    <app-news-form></app-news-form>

    <div class="examples-section">
        <app-ilus-example variant="team" tittle-text="Equipe capacitada"></app-ilus-example>
        <app-ilus-example variant="project-guide" tittle-text="Seus projetos guiados do zero"></app-ilus-example>
    </div>

    <div class="pre-footer">
        <h2>Quer elevar seu software e seus negócios para outro nível?</h2>
        <app-btn-primary btn-text="fale com nossos especialistas"></app-btn-primary>
    </div>

    <app-footer></app-footer>
    





    <!-- <section class="img-section">
        <div class="img-container">
            <img src="team.png" alt="">
            <h3>Equipe capacitada</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur.</p>
        </div>

        <div class="img-container">
            <img src="project-guide.png" alt="">
            <h3>Equipe capacitada</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur.</p>
        </div>
    </section> -->
</main>

